*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(56, 52, 52);
    font-family: 'Roboto', sans-serif;
    color: black;
}
.container{
    max-width: 1100px;
    background-color: #4ACBD6;
    margin: 0 auto;
}
header{
    padding: 20px;
}
.profile-image{
    float: left;
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 50%;
}
.header-bio{
    padding: 40px;
    float: left;
}
h1,h2,h3,h4,h5,h6{ 
    color: white;
}
.header-contact{
    float: right;
    padding: 20px;
    padding-top: 120px;  
}
.header-contact a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: blue;
}
.div-clear{
    clear: both;
}
hr{
    border: solid white 4px;
    width: 90%;
    border-bottom: none;
    margin: 20px auto;
}
.content{
    margin-left: 20px;
    margin-bottom: 30px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;  
}
.common-hr{
    border: 2px solid white ;
    border-bottom: none;
    width: 90%;
    margin: 20px auto;
}
.education-left{
    float: left;
    width: 45%;

}
.education-right{
    float: left;
    width: 45%;

}
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px; 
}
.bottom-container a{
    margin: 20px;
    color: white;
    text-decoration: none;
}
.bottom-container a:hover{
    text-decoration: underline;
    color: blue;
}
.bottom-container p{
    margin-top: 20px;
    color: white;
}